.ImageCard {
  padding-top: 65px;
  padding-bottom: 65px;
}
.Container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  display: flex;
  min-height: 550px;
  justify-content: flex-end;
}
.Image {
  position: absolute;
  left: 0%;
  top: 6%;
  right: auto;
  bottom: 0%;
  width: 30%;
  height: 0px;
  min-height: 440px;
  border-radius: 5px;
  background-image: url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e83fe3910db4fde2e69f396_christiann-koepke-dQyS2pMYtok-unsplash%20(1).jpg");
  background-position: 69% 80%;
  background-size: 270%;
}
.ImageChange .Image {
  position: absolute;
  left: 0%;
  top: 5%;
  right: auto;
  bottom: 0%;
  width: 45%;
  height: 90%;
  border-radius: 5px;
  background-image: url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84cdfbaf8c176df76d51a3_sept-commercial-Cqu3DdNwtKQ-unsplash%20(1)%20(1).jpg");
  background-position: 50% 100%;
  background-size: cover;
}
.Description {
  display: flex;
  width: 75%;
  padding: 45px;
  justify-content: flex-end;
  border-radius: 5px;
  background-color: #222;
  color: #f9f9f9;
}
.ContentWrapper {
  width: 45%;
  padding-right: 145px;
  padding-left: 145px;
  padding-right: 145px;
}
.Heading {
  margin-top: 0px;
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 10px;
  line-height: 1.2;
}
p {
  margin: 0 0 10px;
}
@media screen and (max-width: 991px) {
  .ImageCard {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .ContentWrapper {
    padding-right: 100px;
    padding-left: 100px;
    width: 50%;
  }
}
@media screen and (max-width: 478px) {
  .ImageCard {
    padding-left: 0;
    padding-right: 0;
  }
  .Container {
    flex-wrap: wrap;
  }
  .Image,
  .ImageChange .Image {
    position: static;
    width: 100%;
    border-radius: 0px;
  }
  .Description {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    border-radius: 0;
  }
  .ContentWrapper {
    width: 100%;
  }
}
